site_name: SDO CLV Pipeline
site_description: Documentation for the SDO Center-to-Limb Variability Pipeline
site_url: https://palumbom.github.io/sdo-clv-pipeline/
repo_url: https://github.com/palumbom/sdo-clv-pipeline
repo_name: palumbom/sdo-clv-pipeline

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.sections
    - navigation.top
    - toc.follow

plugins:
  - search
  - mkdocstrings:
      custom_templates: docs/_templates
      handlers:
        python:
          options:
            show_source: false

markdown_extensions:
  - pymdownx.snippets:
      check_paths: true

extra:
  version:
    provider: mike

nav:
  - Home: index.md
  - Public API: public-api.md
  - License: license.md
